@model IEnumerable<MVCRegistration.Models.CityViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddCity")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("City Id")
        </th>
        <th>
            @Html.DisplayName("City")
        </th>
        <th>
            @Html.DisplayName("State")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.StateName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CityId})
        </td>
    </tr>
}

</table>
